*.log
.idea
venv
*.txt
*.txt
*.txt
*.txt
__pycache__*
*.pyc
*.pyc
*.json
*.pyc
*.pyc
*.txt
*.pyc
__pycache__/util_olimp.cpython-37.pyc
__pycache__/util_olimp.cpython-37.pyc
*.pyc
__pycache__/util_olimp.cpython-37.pyc
*.csv
forks.csv
*.csv
forks.csv
